{% extends "base_template.html" %}

{% block title %}IES 2024{% endblock %}

{% block content %}
<div class="container container-fluid pt-4 text-center">
    <h1>¡Bienvenido a Preceptoria!</h1>
    <h2 class="ml-3"><b>Instituto de Enseñanza Superior - Tafi Viejo</b></h2>
    <h3>Extensión Áulica Yerba Buena</h3>
    <p class="text-aling-justify lead" style="text-indent: 2%;">
        Esta plataforma te permitirá realizar un seguimiento diario de la asistencia y condiciones de los alumnos de
        manera ágil y eficiente. Podrás registrar las asistencias y ausencias de los estudiantes, recibir alertas de
        condicionalidad cuando se superen los límites de inasistencias y generar reportes de asistencia periódicos. Toda
        esta información se encuentra centralizada y vinculada al estado académico de cada alumno, lo cual facilita el
        control y seguimiento, ayudándote a tomar decisiones oportunas para el bienestar de los estudiantes.</p>
</div>
{% endblock %}