{% extends "base_template.html" %}

{% block title %}IES 2024{% endblock %}

{% block content %}
<div class="container container-fluid pt-4 text-center">
    <h1>¡Bienvenido a dirección!</h1>
    <h2 class="ml-3"><b>Instituto de Enseñanza Superior - Tafi Viejo</b></h2>
    <h3>Extensión Áulica Yerba Buena</h3>
    <p class="text-aling-justify lead" style="text-indent: 2%;">
        En esta plataforma, tendrás acceso a una visión completa de la información académica y administrativa del
        instituto, lo que te permitirá supervisar y tomar decisiones estratégicas para la institución. Podrás monitorear
        el rendimiento académico, la asistencia y el progreso de los estudiantes, así como el estado de las
        inscripciones y los procesos en cada área. Además, el sistema ofrece reportes detallados y herramientas de
        auditoría, permitiéndote evaluar el cumplimiento de los objetivos institucionales y asegurar que cada área
        funcione de manera organizada y alineada con los lineamientos de la dirección.</p>
</div>
{% endblock %}