{% extends "base_template.html" %}

{% block title %}Inciar Sesión{% endblock %}

{% block content %}
    <!-- Contenedor para centrar la tarjeta -->
    <div class="d-flex justify-content-center align-items-center w-25" style="min-height: 70vh;">
        <!-- Tarjeta de inicio de sesión centrada y ajustada de tamaño -->
        <div class="card card-body">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-check mb-3">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
                <div>
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}