{% extends "base_template.html" %}

{% block title %}IES 2024{% endblock %}

{% block content %}
<div class="container container-fluid pt-4 text-center">
    <h1>¡Bienvenido a Secretaria!</h1>
    <h2 class="ml-3"><b>Instituto de Enseñanza Superior - Tafi Viejo</b></h2>
    <h3>Extensión Áulica Yerba Buena</h3>
    <p class="text-aling-justify lead" style="text-indent: 2%;">
        En esta plataforma, podrás gestionar de manera integral las inscripciones y registros académicos de los alumnos.
        Esto incluye la inscripción en carreras, materias y exámenes, la carga de calificaciones y la emisión de
        certificados y reportes. También tendrás acceso a herramientas para actualizar y organizar datos personales y
        académicos, manteniendo toda la información centralizada y segura. Esta integración facilitará tus tareas
        diarias, optimizando el proceso administrativo y permitiendo que la información de cada alumno esté siempre
        disponible para consultas y decisiones institucionales.</p>
</div>
{% endblock %}